<section id="about">
    <div class="container-fluid">
        <div class="">
            <div class="section-heading text-center">
                <h1 class="display-4 text-success">About @imInbox</h1>
                <div class="divider text-muted">
                    <hr>
                </div>
            </div>
            <div class="about-blocks-wrap text-center">
                <div class="row no-gutters">
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        {{!-- Block starts Here --}}
                            <div class="block">
                                <div class="block-info">
                                    <h4 class="block_heading">Hello Heading</h4>
                                    <p class="block_descprtion">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque commodi rerum, fugit, asperiores dignissimos nam numquam
                                        quasi fugiat.
                                    </p>
                                </div>
                            </div>
                        {{!-- Block Ends Here --}}
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        {{!-- Block starts Here --}}
                        <div class="block">
                            <div class="block-info">
                                <h4 class="block_heading">Hello Heading</h4>
                                <p class="block_descprtion">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque commodi rerum, fugit, asperiores dignissimos nam numquam
                                    quasi fugiat.
                                </p>
                            </div>
                        </div>
                        {{!-- Block Ends Here --}}
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                        {{!-- Block starts Here --}}
                        <div class="block">
                            <div class="block-info">
                                <h4 class="block_heading">Hello Heading</h4>
                                <p class="block_descprtion">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque commodi rerum, fugit, asperiores dignissimos nam numquam
                                    quasi fugiat.
                                </p>
                            </div>
                        </div>
                        {{!-- Block Ends Here --}}
                    </div>
                </div>
            </div>
        </div>
        <div class="social-icons text-center">
            <ul class="list-inline">
                <li class="list-inline-item"> 
                   <i class="fa fa-facebook"></i>
                </li>
                <li class="list-inline-item"> 
                   <i class="fa fa-twitter"></i>
                </li>
                <li class="list-inline-item"> 
                    <i class="fa fa-tumblr"></i>
                </li>
                <li class="list-inline-item"> 
                    <i class="fa fa-behance"></i>
                </li>
                <li class="list-inline-item"> 
                   <i class="fa fa-google-plus"></i>
                </li>
                <li class="list-inline-item"> 
                  <i class="fa fa-linkedin"></i>
                </li>
                <li class="list-inline-item"> 
                    <i class="fa fa-skype"></i>
                </li>
                <li class="list-inline-item"> 
                   <i class="fa fa-youtube"></i>
                </li>
            </ul>
        </div>
    </div>
</section>