<div class="clearfix"></div>
<section class="">
	<div class="">
		<div class="section-padding">
			<div class="section-heading text-center">
				<h1 class="display-4 text-success">Services @imInbox</h1>
				<div class="divider text-muted">
					<hr>
				</div>
			</div>
			<div class="row no-gutters">
				<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
					<div class="">
						<div class="section-padding">
							<h1 class="text-muted sub-heading">One stop for all you email <span class="text-success sub-heading">Marketing Campaigns.</span></h1>
							<h4 class="leading text-muted">@imInbox is an Online email marketing solution to engage subscribers, target an audience, send beautiful, responsive emails
								and track results.</h4>
							<button class="btn btn-lg btn-default know-more-btn">
								Know More
							</button>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
					<div class="img-wrap">
						{{!-- laptop image here --}}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>