<section id="features">
	<div class="container-fluid moblie-p-0">
		<div class="">
			<div class="section-heading text-center">
				<h1 class="display-4 text-success">Features @imInbox</h1>
				<div class="divider text-muted">
					<hr>
				</div>
			</div>
			<div class="row no-gutters">
				<div class="col-lg-6 col-md-12 col-sm-12">
					<div class="section-padding feature-heading">
						<h1 class="sub-heading text-thin text-muted">Featured Heading One</h1>
						<h1 class="sub-heading text-thin text-success">It'll Blow your Mind.</h1>
						<p class="lead responsive-lead">
							Lorem ipsum dolor sit amet consectetur adipisicing elit.
							Nisi dolore ullam at qui neque quis ut, corporis deserunt! Soluta, 
							dolor. Ex culpa eligendi necessitatibus in debitis atque nam architecto 
							illo?
						</p>
						<p class="lead responsive-lead">
							Lorem ipsum dolor sit amet consectetur adipisicing elit.
							 Non debitis nemo asperiores quibusdam placeat error atque
							  corporis ipsa accusantium. Blanditiis adipisci autem.
						</p>
						<div>
							<button class="btn btn-md btn-success">Join Us</button>
							<button class="btn btn-md btn-secondary">Know More</button>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-12 col-sm-12 moblie-p-0">
					<div class="img-wrap" style="background-image: url('http://via.placeholder.com/705x400');">

					</div>
				</div>
			</div>
			<hr>
			<div class="row row-reverse no-gutters">
				<div class="col-lg-6 col-md-12 col-sm-12">
					<div class="section-padding feature-heading">
						<h1 class="sub-heading text-thin text-muted">Featured Heading Two</h1>
						<h1 class="sub-heading text-thin text-success">It is Awesome.</h1>
						<p class="lead responsive-lead">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi dolore ullam at qui neque quis ut, corporis deserunt! Soluta,
							dolor. Ex culpa eligendi necessitatibus in debitis atque nam architecto illo?
						</p>
						<p class="lead responsive-lead">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Non debitis nemo asperiores quibusdam placeat error atque corporis
							ipsa accusantium. Blanditiis adipisci autem.
						</p>
						<div>
							<button class="btn btn-md btn-success">Join Us</button>
							<button class="btn btn-md btn-secondary">Know More</button>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-12 col-sm-12 moblie-p-0">
					<div class="img-wrap" style="background-image: url('http://via.placeholder.com/705x400');">
				
					</div>
				</div>
			</div>
			<hr>
			<div class="row no-gutters">
				<div class="col-lg-6 col-md-12 col-sm-12">
					<div class="section-padding feature-heading">
						<h1 class="sub-heading text-thin text-muted">Third Heading here</h1>
						<h1 class="sub-heading text-thin text-success">It'll put the last Impression.</h1>
						<p class="lead responsive-lead">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi dolore ullam at qui neque quis ut, corporis deserunt! Soluta,
							dolor. Ex culpa eligendi necessitatibus in debitis atque nam architecto illo?
						</p>
						<p class="lead responsive-lead">
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Non debitis nemo asperiores quibusdam placeat error atque corporis
							ipsa accusantium. Blanditiis adipisci autem.
						</p>
						<div>
							<button class="btn btn-md btn-success">Join Us</button>
							<button class="btn btn-md btn-secondary">Know More</button>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-12 col-sm-12 moblie-p-0">
					<div class="img-wrap" style="background-image: url('http://via.placeholder.com/705x400');">
			
					</div>
				</div>
			</div>
		</div>
	</div>
</section>