<footer class="footer footer-img-bg" style="background-image: url('dest/img/footer.jpg');">
    <div class="footer-overlay">
        <div class="container text-center">
            <h3>Signup | Login</h3>
            <br>
            <p>
                Get Started with a free account. Create a free @iminbox account to send emails to your customers.
                <br> Already have an account?
                <a href="#">Login here</a>
            </p>
            <div class="row">
                <div class="col-md-3  offset-md-3"></div>
                <div class="col-md-6">
                    <div class="form-custom">
                        <input class="form-control custom-input" type="email" name="email" id="email" placeholder="Email">
                        <button class="btn btn-success btn-md">Sing Up</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-main clearfix">
        <div class="pull-left no-float">
            Copyright &copy 2017 @imInbox Communications.
            <br>
            <small>All Rights Reserved and copying of content is strictly prohibted.</small>
        </div>
        <div class="pull-right no-float terms-wrap">
            <a class="text-light" href="#">Privacy and Terms</a> &nbsp|&nbsp <a class="text-light" href="#">Anti Spam Policy</a> <br>
            {{!-- <small>Designed &nbspwith <span class="pl-1 pr-1 text-danger">&#10084;</span> by <a class="pl-1 text-warning" href="https://www.linkedin.com/in/vyas-shubham" target="_blank">Shubham vyas</a></small> --}}
            <div id="footer-note-copy"></div>
        </div>
    </div>
</footer>