<section id="home">
	<div class="row no-gutters hero-wrap">
		<div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
			<div class="hero-bg">
				
			</div>
		</div>
		<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 bg-dark hero-main-wrap">
			<div class="hero-text text-center text-success">
				<h1>@im Heigher, <br>Campaign Better</h1>
				<p class="text-light lead">
					Are your potential business prospects turning away 
					Turn them into loyal customers with
					<u>@imInbox</u> email marketing tools.
				</p>

				<button class="btn btn-success btn-lg text-dark sign-up-btn">SIGN UP NOW</button>
				<div class="login-link">
					<a class="lead text-success" href="#">Already have an account? Login here</a>
				</div>
			</div>
			<div class="social-links-wrap text-light text-center">

				<p>Follow us at :</p>
				<div class="social-links">
					<a href="#">Facebook</a>
					<a href="#">Twitter</a>
					<a href="#">Youtube</a>
				</div>
			</div>
		</div>
	</div>
</section>