<div class="clearfix"></div>
<section class=" mb-5">
    <div class="">
        <div class="section-padding">
            <div class="section-heading text-center">
                <h1 class="display-4 text-success">Find the right plan for your business</h1>
                <div class="divider text-muted">
                    <hr>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-4 col-md-12">
                    <div class="mt-4 card custom-card card-1 text-center">
                        <div class="card-head bg-success pt-3 pb-3">
                            <h4 class="mb-0 text-light">Free - Trail</h4>
                        </div>
                        <div class="pt-4 pb-0 plan-desc">
                            <p class="mb-0">free - plan - details</p>
                            <p class="mb-0">Lorem Ipsum is simply dummy text</p>
                            <p class="mb-0">of the printing and typesetting</p>
                            <p class="mb-0">industry.</p>
                        </div>
                        <div class="pt-4 pb-2">
                            <h4 class="text-success">Services Offered</h4>
                        </div>
                        <div class="sub-block pt-3 pr-5 pl-5">
                            <h5>Free - Plan</h5>
                            <p>Some free services description, access to our helpfull support team any time you need it.</p>
                        </div>
                        <div class="bg-success pt-3 pb-3">
                            <h4 class="mb-0 text-light">Valid for 30 days</h4>
                            <div class="text-light pt-3 pr-5 pl-5">
                                <p>some of our starter plan services will be provided to you for 10 days as trial</p>
                            </div>
                        </div>
                        <div class="pt-4 pb-1">
                            <h1 class="text-success plan-price">$0<span>/mo</span></h1>
                        </div>
                        <div class="mt-2 mb-4">
                            <button class="btn btn-success btn-lg">Start Trail</button>
                        </div>
                        <p class="pt-2 foot-note">Sign up now, to get your free trail.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 zoomed">
                    <div class="card custom-card card-1 prehovered  text-center">
                        <div class="card-head bg-success pt-3 pb-3">
                            <h2 class="mb-0 text-light">Professional</h2>
                        </div>
                        <div class="pt-4 pb-0 plan-desc">
                            <p class="mb-0">free - plan - details</p>
                            <p class="mb-0">Lorem Ipsum is simply dummy text</p>
                            <p class="mb-0">of the printing and typesetting</p>
                            <p class="mb-0">industry.</p>
                        </div>
                        <div class="pt-4 pb-2">
                            <h4 class="text-success">Services Offered</h4>
                        </div>
                        <div class="sub-block pt-3 pr-5 pl-5">
                            <h5>Free - Plan</h5>
                            <p>Some free services description, access to our helpfull support team any time you need it.</p>
                        </div>
                        <div class="bg-success pt-3 pb-3">
                            <h4 class="mb-0 text-light">Valid for 30 days</h4>
                            <div class="text-light pt-3 pr-5 pl-5">
                                <p>some of our starter plan services will be provided to you for 10 days as trial</p>
                            </div>
                        </div>
                        <div class="pt-4 pb-1">
                            <h4 class="mb-4 text-success plan-price two-prices">
                                $19.99<span class="pr-4">/mo</span>$99.99<span>/mo</span>
                            </h4>
                        </div>
                        <div class="mt-2 mb-5">
                            <button class="btn btn-success btn-lg">choose plan</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="mt-4 card custom-card card-1 text-center">
                        <div class="card-head bg-success pt-3 pb-3">
                            <h4 class="mb-0 text-light">Starter</h4>
                        </div>
                        <div class="pt-4 pb-0 plan-desc">
                            <p class="mb-0">free - plan - details</p>
                            <p class="mb-0">Lorem Ipsum is simply dummy text</p>
                            <p class="mb-0">of the printing and typesetting</p>
                            <p class="mb-0">industry.</p>
                        </div>
                        <div class="pt-4 pb-2">
                            <h4 class="text-success">Services Offered</h4>
                        </div>
                        <div class="sub-block pt-3 pr-5 pl-5">
                            <h5>Free - Plan</h5>
                            <p>Some free services description, access to our helpfull support team any time you need it.</p>
                        </div>
                        <div class="bg-success pt-3 pb-3">
                            <h4 class="mb-0 text-light">Valid for 30 days</h4>
                            <div class="text-light pt-3 pr-5 pl-5">
                                <p>some of our starter plan services will be provided to you for 10 days as trial</p>
                            </div>
                        </div>
                        <div class="pt-4 pb-1">
                            <h4 class="mb-4 text-success plan-price two-prices pt-3">
                                $4.99<span class="pr-4">/mo</span>$14.99<span>/mo</span>
                            </h4>
                        </div>
                        <div class="mt-2 mb-5">
                            <button class="mb-1 btn btn-success btn-lg">choose plan</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>