<section id="support">
    <div class="container-fluid">
        <div class="">
            <div class="subscribe-wrap text-center">
                <h1 class="subscribe-heading">Subscribe</h1>
                <p class="lead text-grey">Sign up to hear from us about marketing tips and ways to improve your online presence</p>
                <div class="subscribe-call-to-action-wrap">
                    <form class="form-inline">
                        <input type="email" class="form-control mb-2 mr-sm-2" id="email2" placeholder="Email Address">
                        <button type="submit" class="btn btn-success mb-2">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>